body {
    background-color: #ba55d3;
    transform: translate(0, 60px);
}

#attack,
#magic,
#lightArrow,
#naru,
#charSelect,
#retry {
    background-color: bisque;
}

#capsule {
    display: flex;
    justify-content: center;
    align-items: center;
}

#side {
    transform: translate(0, 60px);
    text-align: center;
}

#enemyHp {
    text-align: right;
    transform: translate(0, -38px);
}

#playerHp, #moves, #retry, #winMessage, #loseMessage {
    transform: translate(0, 42px);
}

#winMessage, #loseMessage {
    text-align: center;
}

#charSelect {
    transform: translate(10px, 42px);
}

#mothula {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(2.5);
}