@import "config";
@import "utilities";



body {
    @include set-bg($link-color);
    transform: translate(0, 60px);
}

#attack,
#magic,
#spin,
#bomb,
#startBtn,
#charSelect,
#retry {
    @include set-bg($retry-color);
}

#startBtn{
    transform: translate(57px);
}

#capsule {
    display: flex;
    justify-content: center;
    align-items: center;
}

#side {
    transform: translate(0, 60px);
    text-align: center;
}

#enemyHp {
    text-align: right;
    transform: translate(0, -38px);
}

#playerHp, #moves, #retry, #winMessage, #loseMessage {
    transform: translate(0, 42px);
}

#winMessage, #loseMessage {
    text-align: center;
}

#charSelect {
    transform: translate(10px, 42px);
}

#helm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.2);
}